!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gradebook
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert

    - if !current_user.nil?
      Welcome
      = current_user.email
      = link_to('Logout', destroy_user_session_path, :method => :delete, :class => " button btn" )
    - else
      = link_to('Sign in', new_user_session_path, :class => " button btn")
      = link_to('Sign up', new_user_registration_path, :class => " button btn")
    = yield
